.flex{
    display:flex;
}
.items-center{
    align-items:center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding:0.8rem 3rem;
    font-size:1rem;
    font-weight:600;
    border:2px solid transparent;
    outline:none;
    cursor:pointer;
    text-transform: uppercase;
    transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
}
.btn-primary{
    border-radius: 20px;
    background:var(--primary);
    color:var(--secondary);
}
.btn-primary:hover{
    background:transparent;
    border-color: var(--primary);
    color:var(--primary);
}

.btn-primary a{
    color: black;
}

.btn-secondary{
    background:transparent;
    color:var(--primary);
    border-color:var(--primary);
}
.btn-secondary:hover{
    background:var(--primary);
    color:var(--secondary);
}

.flex-1{
    flex:1;
}
.justify-center{
    justify-content: center;
}


/* ปุ่มเลื่อนไปบนสุด */
.scroll-to-top-btn {
    position: fixed;
    bottom: 30px;  /* ปุ่มอยู่ที่ด้านล่าง */
    right: 30px;   /* ปุ่มอยู่ที่ขอบขวา */
    background-color: var(--ternary);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    display: none; /* ซ่อนปุ่มเมื่อยังไม่เลื่อนลงไปล่างสุด */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: 30px;
}

.scroll-to-top-btn:hover {
    background-color: var(--primary);
}
